.footer{

background-color: rgb(16, 20, 15);
padding-top: 15vh;
height: 5%;

}

ul{
display:inline-block;
list-style: none;

color: rgb(241, 149, 21);
}

a{

text-decoration: none;
font-size: 3vh;
color: AliceBlue;

}