.navbar {
  display: flex;
  position: relative;
  left: 50%;
  padding: 25px 0;
  transform: translateX(-50%);
  background-color: #232526 ;
  color: #fff;
  justify-content: space-between;
  
}

.link {
  display: flex;
  margin-right: 20px;
  gap: 30px;
 

}

.logo {
  display: flex;
  gap: 10px;
  font-size: 5vh;
  font-weight: bold;
  margin-left: 20px;
  color: rgb(255, 255, 255);
}
