body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.image {
  background-image: url("https://i.pinimg.com/736x/7f/86/ee/7f86ee0d19da38e1cd47b7ff7d65f43f.jpg");
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: rgb(0, 0, 0);
   
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  animation: text 1.5s infinite alternate;
}


h1{

font-size: 20vh;


}

@-webkit-keyframes text {
  from {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #e90202,
      0 0 40px #ff0202,
      0 0 50px #e61e1e,
      0 0 60px #e31111,
      0 0 70px #e60073;
  }

  to {
    text-shadow:
      0 0 20px #fff,
      0 0 30px #0d20cdd0,
      0 0 40px #0d20cdd0,
      0 0 50px #0d20cdd0,
      0 0 60px #0d20cdd0,
      0 0 70px #0d20cdd0,
      0 0 80px #0d20cdd0;
  }
}
